h1{
    padding-left: 10px;
    text-align: center;
    font-weight: bold;
}
button{
    float: right;
    border-radius: 5px;
    border: 3px solid green;
    background-color: burlywood;
    font-weight: bold;
    font-size: medium;
}